<!doctype html>
<html lang="en">
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    {%block external_meta %}
	    {%endblock%}
	    
	    <!-- Including Favicon -->
	    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/logo.PNG') }}">
	    
	    <!-- Include JQuery -->
		<script src="{{ url_for('static',filename='js/jquery-3.6.0.js') }}"></script>
				
	    <!-- Bootstrap CSS -->
	    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
		
		<!-- Blaze CSS -->
		<link href="{{ url_for('static',filename='css/blaze.css') }}" rel="stylesheet">
		
	    <!-- Include Mark JS -->
		<script src="{{ url_for('static',filename='js/mark.min.js') }}" ></script>
		
		<link rel="stylesheet" href="{{ url_for('static',filename='css/all.css') }}"/ >
		<link rel="stylesheet" href="{{ url_for('static',filename='css/fontawesome.css') }}">
		
	    <!-- Include Blaze JS-->
		<script src="{{ url_for('static',filename='js/blaze.js') }}" ></script>
		<script src="{{ url_for('static',filename='components/blaze-header.js') }}" ></script>
		<script src="{{ url_for('static',filename='components/blaze-footer.js') }}" ></script>
		
		<!-- Page Title -->
		<title>Blaze - {% block title %}{% endblock %}</title>
		
		{% block external_css %}
		{% endblock %}
		
		{% block external_js %}
		{% endblock %}
		

	</head>
	<body class="d-flex flex-column bg-light">
	
		<!-- Include Navigation Bar -->
		<blaze-header style="z-index: 555"></blaze-header>
	    <div id="page-content" >
		    <div class="container">
		    {% if IS_DISPLAYED > 0 %}
		    	<div class="alert alert-light shadow-sm mt-2" role="alert" >
				  <h4 class="alert-heading">{{HEADING}}</h4>
				  <p>{{MESSAGE}}</p>
				</div>
			{% endif %}   
			      {% block content %}{% endblock %}
			   
		    </div>
		</div>
	    <blaze-footer style="z-index: 55"></blaze-footer>
	</body>
</html>