{% extends "admin_base.j2" %}
{% block title %}
	Notification
{% endblock %}


{% block external_js %}
<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/build_queue.js') }}"></script>
	<script>
		$(document).ready(function(){
		$("#page-content").css("margin-left", "13%");
		});
	</script>
{% endblock %}

{% block page %}
	{% if err_msg %}
		<div class="alert alert-danger mb-5" role="alert">{{err_msg}}</div>
	{% endif %}
	<div class="toast fade align-items-center text-white border-0" style="position: absolute; top: 3.8rem; right: 01.5rem; z-index: 1111;" role="toast" data-bs-autohide="true"  id="toastMessage">
	  <div class="d-flex">
	    <div class="toast-body" id="toastBody" >
	      If you are seeing this then, you shouldn't be here :)
	    </div>
	    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
	  </div>
	</div> 	
	<div class="form-container">
		
		<h5 class="lead mb-5">Current Status: <button class="lead btn btn-info text-white" id="status">{{status}}</button></h5>
		
		<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#resumeQueue">
			Resume Build Queue
		</button>
		<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#pauseQueue">
			Pause Build Queue
		</button>
		<!-- Modal -->
		<div class="modal fade" id="resumeQueue" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="resumeQueueLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="resumeQueueLabel">Resume Build Queue</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <p>Do you want to resume build queue?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		        <button type="button" id="resumeQueueBtn" class="btn btn-primary">Resume</button>
		      </div>
		    </div>
		  </div>
		</div> 
		<div class="modal fade" id="pauseQueue" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pauseQueueLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="pauseQueueLabel">Pause Build Queue</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <p>Do you want to pause build queue?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		        <button type="button" id="pauseQueueBtn" class="btn btn-primary">Pause</button>
		      </div>
		    </div>
		  </div>
		</div> 
					 
			 
	</div>
	
	
	
	
{% endblock %}

