  <div class="row">
	    	
	    	{% if err_msg %}
	    		<div class="alert alert-danger" role="alert">{{err_msg}}</div>
	    	{% endif %}
	    	{% if task_details|length == 0 %}
	    			
	    			<div class="display-1"><i class="fa-solid fa-chalkboard"></i> No Running Task!</div>

	    	{% else %}
	    	<table class="table table-striped table-hover mt-5" id="runningTasksTable">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Application Name</th>
			      <th scope="col">Task Name</th>
			      <th scope="col">Dashboard Link</th>
			    </tr>
			  </thead>
			  <tbody>
	    	{% for job_details in task_details %}
			    <tr>
			      <th scope="row">{{loop.index}}</th>
			      <td>{{job_details["APPLICATION_NAME"]}}</td>
			      <td><span class="fas fa-spinner fa-pulse text-secondary"></span> {{job_details["TASK_NAME"]}}</td>
			      <td><a class="btn btn-outline-dark btn-sm" href="/{{job_details["APPLICATION_NAME"]}}/view/dashboard"><i class="fa-solid fa-chalkboard-user"></i> view dashboard</a></td>
			    </tr>
	        {% endfor %}
	        </tbody>
			</table>
        </div>
        <script>
		 $(document).ready( function () {
    $('#runningTasksTable').DataTable();
} );
</script>
{% endif %}
</div>