{% extends "base.j2" %}
{% block title %}
	Current Tasks
{% endblock %}

{% block external_meta %}

{% endblock %}


{% block external_css %}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.dataTables.min.css') }}"/>
	<style>
	a{
		    color: #007bff;
    text-decoration: none;
    
    }
	</style>
{% endblock %}

{% block external_js %}
	<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/current_tasks.js') }}"></script>
{% endblock %}

{% block content %}
	<div class="container mt-5 mb-3 content-row" id="tasksContainer">
	  {% include 'current_tasks.j2' %}
    </div>
{% endblock %}