{% extends "base.j2" %}
{% block title %}
	{{ app_name }}
{% endblock %}

{% block external_meta %}

{% endblock %}


{% block external_css %}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/sidebar.css') }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/ >
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
	
{% endblock %}

{% block external_js %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="{{ url_for('static',filename='js/dashboard.js') }}"></script>
	<script>
		set_app_name("{{ app_name }}");
	</script>
{% endblock %}

{% block content %}

<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-light"
       >
    <div class="position-sticky">
    

      <div class="list-group list-group-flush mx-3 mt-2">
     
      
        <button class="btn btn-outline-dark mt-5" data-bs-toggle="modal" data-bs-target="#removeTrackerModal">
        	<span >Remove Tracker</span>
        </button>
		<a class="btn btn-outline-dark mt-2" href="/{{ app_name }}/view/deploymentFlow">
        	<span>Deployment Flow</span>
        </a>
      </div>
   
    </div>
  </nav>
  <!-- Sidebar -->

</header>
<!-- Button trigger modal -->

<div class="modal fade" id="removeTrackerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="removeTrackerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeTrackerLavel">Remove Tracker</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
 
    	<button class="btn btn-secondary" id="generateCodeBtn">Generate Code</button>
    	</br><small class="text-muted">( Click on above button to get the secret code )</small>
    	<div class="mt-4">
    		<p class="lead">Got secret code?</p>
    		<div class="input-group mb-3">
			  <input type="text" id="trackerRemoveTxt" class="form-control" placeholder="Remove Tracker Code" aria-label="Remove Tracker Code" aria-describedby="trackerRemoveBtn" required/>
			  <button class="btn btn-outline-secondary" type="button" id="trackerRemoveBtn">Remove Tracker</button>
			</div>
    	</div>
    	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



	<div class="toast fade align-items-center text-white border-0" style="position: absolute; top: 3.8rem; right: 01.5rem; z-index: 1111;" role="toast" data-bs-autohide="true"  id="toastMessage">
	  <div class="d-flex">
	    <div class="toast-body" id="toastBody" >
	      If you are seeing this then, you shouldn't be here :)
	    </div>
	    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
	  </div>
	</div> 	
	<blockquote class="blockquote text-center">
	  </br>
	  <div class="alert alert-secondary" role="alert">
	 		 <p class="mb-0 lead">{{ app_description }}</p></br>
	 		 <footer class="blockquote-footer lead"><cite title="Source Title">{{ app_name }}</cite></footer>
	  </div>
	</blockquote>

	<div class="container mt-5 mb-3 content-row" id="tasksContainer">
	  {% include 'tasks.j2' %}
    </div>
    <script>
	var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
	var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
	  return new bootstrap.Popover(popoverTriggerEl)
	})
</script>
{% endblock %}