{% extends "base.j2" %}
{% block title %}
	404
{% endblock %}


{% block external_css %}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/err.css') }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}
	<div class="error-container">
		<div class="display-1"><i class="fa fa-rocket"></i>404: Page Not Found!</div></br>
		<div class="alert alert-dark display-6" role="alert"> <i class="fa fa-globe"></i> Planet that you are looking for is present in the alternate universe</div>
		<form action="/">
			<button type="submit" class="btn btn-outline-dark btn-lg"><i class="fa fa-home"></i> Back To Home</button>
		</form>
	</div>
{% endblock %}