{% extends "base.j2" %}
{% block title %}
	License
{% endblock %}


{% block content %}
<div class="jumbotron jumbotron-fluid">
	<h1 class="display-4 mt-4 mb-4" align="center">License</h1>
  <div class="container d-flex justify-content-center vh-100 overflow-hidden">
    	<pre>{{ license }}</pre>
  </div>
</div>
{% endblock %}